.definitions {
  position: relative;
  padding: 17px;
  left: 175px;
  max-width: 570px;
  background: var(--snip-background);
  border: 1px solid var(--snip-border);
  border-radius: 8px;
  line-height: 1.58;
  font-size: 14px;
  color: var(--fg);
  letter-spacing: normal;
}

.word {
  font-size: 20px;
  color: var(--highlight);
  font-weight: bold;
  font-style: normal;
  line-height: 1.58;
}

.word_type {
  margin-top: 10px;
  font-weight: 500;
  margin-left: 10px;
}

.def_list {
  padding-left: 30px;
  margin-bottom: 0px;
}

.def_list li::marker {
  color: var(--fg);
}

.definition {
  color: var(--fg);
}

.def_list li {
  padding-bottom: 10px;
}

@media only screen and (max-width: 750px) {
  .definitions {
    left: 10px;
  }
}

@media only screen and (max-width: 1220px) {
  .definitions {
    margin-top: 5px;
    max-width: 500px;
  }
}
