/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('/fonts/inter-v12-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/inter-v12-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

::-moz-selection {
    color: #f1f3f4;
    background: #0078d7;
}

::selection {
    color: #f1f3f4;
    background: #0078d7;
}

.highlight {
    color: #bcc0c3;
    font-weight: bold;
    font-style: normal;
}

.clean {
    max-width: 775px;
}

.prev-next {
    left: 175px;
    position: relative;
    max-width: 600px;
}

.prev-next button:hover {
    border: 1px solid #5f6368;
    cursor: pointer;
}

.prev-next button {
    color: var(--font-fg);
    background-color: var(--button);
    font-size: 14px;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 7px 10px 7px 10px;
    margin: 0px 10px 18px 0px;
}

body {
    margin: 0;
}

html {
    background-color: var(--html-bg);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 1.5rem;
    margin-left: 9%;
    margin-right: 9%;
    padding: 0px;
    margin-bottom: 40px;
}

.stats {
    color: #31b06e;
    max-width: 48em;
    line-height: 1.25rem;
    margin-bottom: 1px;
    font-size: 13px;
}

.publish__info {
    color: #7f869e;
    max-width: 48em;
    line-height: 1.25rem;
    font-size: 13px;
}

.results .video_title {
    font-size: 16px;
}

.video__img__results img {
    width: 254px;
    height: 143px;
    object-fit: cover;
}

.video__img__results {
    position: relative;
    left: 175px;
    max-width: 600px;
}

.video__results {
    margin-bottom: 1.5em;
    display: flex;
    margin-top: 1px;
    max-width: 600px;
}

.video__results .results h3 {
    margin-left: 14px;
}

.video__results .results p {
    margin-left: 14px;
}

.video__results .results {
    margin-top: 0px;
}

.images img {
    margin: 0px;
    height: 12rem;
    object-fit: cover;
    vertical-align: bottom;
}

.duration {
    position: absolute;
    color: #fff;
    font-size: 11px;
    padding: .5em;
    background: rgba(0, 0, 0, .5);
    right: 0;
    bottom: 4px;
    line-height: 1.3;
    letter-spacing: -0.4px;
}

.pipe {
    font-size: 0.7em;
}

.wrapper {
    margin: 0 auto;
    background: var(--search-bg-input);
    border-radius: 22px;
    position: absolute;
    width: 520px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 2;
    border: 1px solid var(--search-bg-input-border);
}

.wrapper input {
    padding: 10px;
}

.wrapper-results {
    margin: 0 auto;
    background: var(--search-bg-input);
    border-radius: 22px;
    position: absolute;
    width: 628px;
    overflow: hidden;
    margin-top: 0px;
    top: 18px;
    left: 170px;
    z-index: 2;
    border: 1px solid var(--search-bg-input-border);
}

#theme {
    border-radius: 4px;
    padding: 6px;
    font-size: 15px;
    border: 1px solid var(--settings-border);
    color: var(--font-fg);
    width: 140px;
    background: var(--button);
    margin-right: 330px;
}

.save {
    border-radius: 4px;
    padding: 6px;
    font-size: 15px;
    border: 1px solid var(--settings-border);
    color: var(--font-fg);
    background: var(--button);
    cursor: pointer;
}

.settings-nav {
    max-width: 100%;
    height: 90px;
    background-color: var(--search-bg);
    border-bottom: 1px solid var(--border);
    padding: 10px;
}

.settings {
    background-color: var(--snip-background);
    border: 1px solid var(--border);
    border-radius: 8px;
    max-width: 620px;
    height: 100px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 40px;
}

.wrapper-results input {
    padding: 10px;
}

.autocomplete {
    padding: 0px;
}

.autocomplete ul {
    margin: 0;
    padding: 0;
}

.autocomplete ul li {
    list-style: none;
    opacity: 0;
    display: none;
    padding: 8px 12px;
}

.show .autocomplete ul li {
    opacity: 1;
    display: block;
    text-align: left;
}

.show .autocomplete {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--font-fg);
}

.autocomplete ul li:hover {
    cursor: pointer;
    background: var(--search-select);
}

.selected {
    background: var(--search-select);
}

.hide {
    display: none;
}

input,
button {
    outline: none;
}

.search-container {
    text-align: center;
    margin-top: 10%;
}

.search-container h1 {
    font-size: 70px;
    color: var(--font-fg);
}

.X {
    color: #8ab4f8;
}

.search-container input {
    width: 95%;
    color: var(--font-fg);
    background-color: var(--search-bg-input);
    font-size: inherit;
    font-family: sans-serif;
    border: none;
}

h3 {
    color: var(--link);
    text-decoration: none;
}

h3:hover {
    text-decoration: underline;
}

p {
    color: var(--fg);
    max-width: 48em;
    line-height: 1.58;
    font-size: 14px;
}

.check {
    display: flex;
    position: relative;
    left: 175px;
    width: 600px;
    word-wrap: break-word;
    font-size: 15px;
    max-width: 48em;
    line-height: 1.58;
}

.check p,
.check h3 {
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.check p {
    color: #ff7769;
}

.check a {
    color: var(--link);
    text-decoration: none;
}

.check h3 {
    margin-left: 4px;
    font-style: italic;
}

.check a:hover {
    text-decoration: underline;
}

.results-search-container {
    background-color: var(--search-bg);
    width: 100%;
    border-bottom: 1px solid var(--border);
    position: fixed;
    z-index: 999;
    top: 0;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--footer-bg);
    color: var(--footer-font);
    position: relative;
    bottom: 0;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-top: 1px solid var(--border);
}

#search_footer {
    position: fixed;
}

.footer a,
.footer a:hover,
.footer a:visited {
    text-decoration: none;
    color: var(--footer-font);
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer a:hover {
    text-decoration: underline;
}

.results-search-container input {
    width: 95%;
    color: var(--font-fg);
    background-color: var(--search-bg-input);
    font-size: inherit;
    font-family: sans-serif;
    border: none;
}

.results {
    position: relative;
    left: 175px;
    margin-top: 18px;
    max-width: 600px;
    word-wrap: break-word;
    margin-bottom: 35px;
}

.result_sublink {
    position: relative;
    left: 175px;
    margin-top: 10px;
    max-width: 600px;
    word-wrap: break-word;
}

.sublinks {
    position: relative;
    left: 14px;
    max-width: 600px;
    word-wrap: break-word;
}

.search-button-wrapper button:hover {
    border: 1px solid #5f6368;
    cursor: pointer;
}

.search-button-wrapper button {
    color: var(--font-fg);
    background-color: var(--button);
    font-size: 14px;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 13px 10px 13px 10px;
    margin: 70px 60px 0px 60px;
}

.no-decoration {
    text-decoration: none;
    color: var(--font-fg);
}

.no-decoration:hover {
    text-decoration: none;
}

.logomobile {
    position: absolute;
    margin-top: 0px;
    top: 20px;
    left: 38px;
}

.sub-search-button-wrapper button {
    border: none;
    background-color: inherit;
    font-size: 15px;
    margin-right: 14px;
    color: #BABCBE;
    margin-top: 72px;
    padding-bottom: 11px;
}

.sub-search-button-wrapper button:hover {
    border-bottom: 2px solid #8ab4f8;
    color: #8ab4f8;
}

.search-active {
    border-bottom: 2px solid #8ab4f8 !important;
    color: #8ab4f8 !important;
}

.sub-search-button-wrapper img {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
}

.sub-search-button-wrapper {
    margin-left: 175px;
    margin-bottom: 6px;
    height: 98px;
}

:root {
    color-scheme: dark;
}

.fetched {
    color: var(--fg);
    left: 175px;
    position: relative;
    font-size: 15px;
    margin-bottom: 10px;
    max-width: 580px;
    margin-top: 126px;
}

.results a:visited h3,
.result_sublink a:visited h3 {
    color: var(--link-visited);
}

.results h3,
.result_sublink h3 {
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.4px;
}

.results p,
.result_sublink p {
    margin-top: 0px;
}

.results a,
.results a:hover,
.results a:visited,
.result_sublink a,
.result_sublink a:hover,
.result_sublink a:visited {
    text-decoration: none;
    color: #ebecf7;
    font-size: 14px;
}

#link,
#link:hover,
#link:visited {
    display: block;
    text-decoration: none;
    color: var(--fg);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snip {
    padding: 10px;
    border: 1px solid var(--snip-border);
    width: 440px;
    border-radius: 8px;
    background: var(--snip-background);
    color: var(--snip-text);
    margin-left: 840px;
    margin-top: 0px;
    position: absolute;
    font-size: 17px;
    line-height: 1.25;
    letter-spacing: normal;
}

.snip img {
    display: flex;
    max-width: 60%;
    max-height: 200px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.snip a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--link);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snip a:hover {
    text-decoration: underline;
}

.snipp {
    padding: 10px;
    border-bottom: 1px solid var(--border);
    width: 500px;
    background: inherit;
    color: var(--fg);
    margin-left: 170px;
    margin-top: 0px;
    position: relative;
    line-height: 1.58;
    font-size: 16px;
    float: none;
    max-width: 48em;
}

.snipp a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--link);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snipp a:hover {
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.no-results-found {
    border-radius: 8px;
    position: relative;
    border: 1px solid var(--snip-border);
    margin-left: 175px;
    background: var(--snip-background);
    color: var(--snip-text);
    width: 530px;
    padding: 15px;
    font-size: 16px;
}

@media only screen and (max-width: 1320px) {

    .snip,
    .no-results-found {
        position: relative;
        float: none;
        margin-left: 170px;
    }
}

@media only screen and (max-width: 750px) {

    .snip,
    .no-results-found {
        position: relative;
        float: none;
        max-width: 90%;
        margin-left: 10px;
        width: auto;
        font-size: 16px;
    }

    .settings {
        max-width: 300px;
        margin-left: 10px;
    }

    #theme {
        margin-right: 0px;
    }

    .footer {
        padding-left: 10px;
    }

    .footer a {
        margin-left: 0px;
        font-size: 14px;
    }

    .wrapper {
        width: 86%;
        position: absolute;
        float: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 0px;
        top: 130px;
        left: 4px;
    }

    .wrapper input {
        padding: 10px;
        max-width: 92%;
    }

    .wrapper-results {
        width: 90%;
        position: absolute;
        float: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 0px;
        top: 56px;
        left: 18px;
    }

    .wrapper-results input {
        padding: 10px;
        max-width: 92%;
    }

    .check {
        left: 20px;
        max-width: 90%;
    }

    .snipp {
        position: relative;
        float: none;
        max-width: 90%;
        margin-left: 10px;
        width: auto;
        font-size: 16px;
    }

    p {
        font-size: 14px;
        line-height: normal;
    }

    html {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
    }

    .sublinks {
        max-width: 90%;
    }

    .results-search-container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .results-search-container input {
        width: 100%;
    }

    .logomobile {
        position: relative;
        float: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-size: 28px;
        display: block;
        margin-top: 0px;
        top: 0px;
        left: 0px;
    }

    .sub-search-button-wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: baseline;
    }

    .sub-search-button-wrapper img {
        margin: 0;
        padding: 0;
    }

    .sub-search-button-wrapper button {
        margin-left: 30px;
        margin-right: 4px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        padding-bottom: 5px;
    }

    .results {
        left: 20px;
        max-width: 90%;
    }

    .prev-next {
        left: 20px;
        max-width: 90%;
    }

    .video__img__results img {
        width: 127px;
        height: 71.5px;
    }

    .video__img__results {
        left: 20px;
        max-width: 90%;
    }

    .video__results {
        max-width: 90%;
    }

    .result_sublink {
        left: 20px;
        max-width: 90%;
    }

    .fetched {
        left: 20px;
        max-width: 90%;
        font-size: 16px;
        margin-top: 180px;
    }

    .search-container h1 {
        font-size: 55px;
        margin-bottom: 70px;
    }

    .search-container {
        margin-top: 10%;
        text-align: center;
    }

    .search-container input {
        width: 100%;
    }

    .search-button-wrapper button {
        display: table-row;
        margin: 30px 0px 0px 0px;
        width: 80%;
    }
}