/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('/fonts/inter-v12-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/inter-v12-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    margin: 0;
}

html {
    background-color: var(--html-bg);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 1.5rem;
    margin-left: 9%;
    margin-right: 9%;
    padding: 0px;
    margin-bottom: 40px;
}

.images img {
    margin: 0px;
    object-fit: cover;
}

.wrapper {
    margin: 0 auto;
    background: var(--search-bg-input);
    border-radius: 22px;
    position: absolute;
    width: 520px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 2;
    border: 1px solid var(--search-bg-input-border);
}

.wrapper input {
    padding: 10px;
}

.wrapper-results {
    margin: 0 auto;
    background: var(--search-bg-input);
    border-radius: 22px;
    position: absolute;
    width: 628px;
    overflow: hidden;
    margin-top: 0px;
    top: 18px;
    left: 170px;
    z-index: 2;
    border: 1px solid var(--search-bg-input-border);
}

#theme {
    border-radius: 4px;
    padding: 6px;
    font-size: 15px;
    border: 1px solid #5f6368;
    color: #F1F3F4;
    width: 100px;
    background: #303134;
    margin-right: 370px;
}

.save {
    border-radius: 4px;
    padding: 6px;
    font-size: 15px;
    border: 1px solid #5f6368;
    color: #F1F3F4;
    background: #303134;
}

.settings-nav {
    max-width: 100%;
    height: 90px;
    background-color: #171717;
    border-bottom: 1px solid #3c4043;
    padding: 10px;
}

.settings {
    background-color: #171717;
    border: 1px solid #3c4043;
    border-radius: 8px;
    max-width: 620px;
    height: 100px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 40px;
}

.wrapper-results input {
    padding: 10px;
}

.autocomplete {
    padding: 0px;
}

.autocomplete ul {
    margin: 0;
    padding: 0;
}

.autocomplete ul li {
    list-style: none;
    opacity: 0;
    display: none;
    padding: 8px 12px;
}

.show .autocomplete ul li {
    opacity: 1;
    display: block;
    text-align: left;
}

.show .autocomplete {
    padding-top: 10px;
    padding-bottom: 10px;
}

.autocomplete ul li:hover {
    cursor: pointer;
    background: var(--search-select);
}

.selected {
    background: var(--search-select);
}

.hide {
    display: none;
}

input,
button {
    outline: none;
}

.search-container {
    text-align: center;
    margin-top: 10%;
}

.search-container h1 {
    font-size: 70px;
    color: #F1F3F4;
}

.X {
    color: #8ab4f8;
}

.search-container input {
    width: 95%;
    color: var(--font-fg);
    background-color: var(--search-bg-input);
    font-size: inherit;
    font-family: sans-serif;
    border: none;
}

h3 {
    color: var(--link);
    text-decoration: none;
}

h3:hover {
    text-decoration: underline;
}

p {
    color: var(--font-fg);
}

.results-search-container {
    background-color: var(--search-bg);
    width: 100%;
    border-bottom: 1px solid var(--border);
    position: fixed;
    z-index: 999;
    top: 0;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--footer-bg);
    color: var(--footer-font);
    position: relative;
    bottom: 0;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-top: 1px solid var(--border);
}

#search_footer {
    position: fixed;
}

.footer a,
.footer a:hover,
.footer a:visited {
    text-decoration: none;
    color: var(--footer-font);
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer a:hover {
    text-decoration: underline;
}

.results-search-container input {
    width: 95%;
    color: var(--font-fg);
    background-color: var(--search-bg-input);
    font-size: inherit;
    font-family: sans-serif;
    border: none;
}

.results {
    position: relative;
    left: 175px;
    margin-top: 18px;
    max-width: 600px;
    word-wrap: break-word;
    margin-bottom: 35px;
}

.search-button-wrapper button:hover {
    border: 1px solid #5f6368;
    cursor: pointer;
}

.search-button-wrapper button {
    color: var(--font-fg);
    background-color: var(--button);
    font-size: 14px;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 13px 10px 13px 10px;
    margin: 70px 60px 0px 60px;
}

.no-decoration {
    text-decoration: none;
    color: var(--font-fg);
}

.no-decoration:hover {
    text-decoration: none;
}

.logomobile {
    position: absolute;
    margin-top: 0px;
    top: 20px;
    left: 38px;
}

.sub-search-button-wrapper button {
    border: none;
    background-color: inherit;
    font-size: 15px;
    margin-right: 14px;
    color: #8ab4f8;
    margin-top: 72px;
}

.sub-search-button-wrapper img {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
}

.sub-search-button-wrapper {
    margin-left: 175px;
    margin-bottom: 6px;
    height: 98px;
}

:root {
    color-scheme: dark;
}

.fetched {
    color: var(--fg);
    left: 175px;
    position: relative;
    font-size: 18px;
    max-width: 580px;
    margin-top: 126px;
}

.results a:visited h3 {
    color: var(--link-visited);
}

.results h3 {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.results p {
    margin-top: 0px;
}

.results a,
.results a:hover,
.results a:visited {
    text-decoration: none;
    color: #ebecf7;
    font-size: 14px;
}

#link,
#link:hover,
#link:visited {
    display: block;
    text-decoration: none;
    color: var(--fg);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snip {
    padding: 10px;
    border: 1px solid #3c4043;
    width: 500px;
    border-radius: 8px;
    background: #202124;
    color: #F1F3F4;
    margin-left: 840px;
    margin-top: 0px;
    position: absolute;
    font-size: 18px;
}

.snip a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #8ab4f8;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snip a:hover {
    text-decoration: underline;
}

.snipp {
    padding: 10px;
    border-bottom: 1px solid #3c4043;
    width: 500px;
    background: inherit;
    color: #F1F3F4;
    margin-left: 170px;
    margin-top: 0px;
    position: relative;
    font-size: 18px;
    float: none;
}

.snipp a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #8ab4f8;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snipp a:hover {
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.no-results-found {
    border-radius: 8px;
    position: relative;
    border: 1px solid #3c4043;
    margin-left: 175px;
    color: #F1F3F4;
    width: 530px;
    padding: 15px;
    font-size: 16px;
}

@media only screen and (max-width: 1320px) {

    .snip,
    .no-results-found {
        position: relative;
        float: none;
        margin-left: 170px;
    }
}

@media only screen and (max-width: 750px) {

    .snip,
    .no-results-found {
        position: relative;
        float: none;
        max-width: 90%;
        margin-left: 10px;
        width: auto;
        font-size: 16px;
    }

    .settings {
        max-width: 300px;
        margin-left: 10px;
    }

    #theme {
        margin-right: 50px;
    }

    .footer {
        padding-left: 10px;
    }

    .footer a {
        margin-left: 0px;
    }

    .wrapper {
        width: 86%;
        position: absolute;
        float: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 0px;
        top: 130px;
        left: 4px;
    }

    .wrapper input {
        padding: 10px;
        max-width: 92%;
    }

    .wrapper-results {
        width: 90%;
        position: absolute;
        float: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 0px;
        top: 56px;
        left: 18px;
    }

    .wrapper-results input {
        padding: 10px;
        max-width: 92%;
    }

    .snipp {
        position: relative;
        float: none;
        max-width: 90%;
        margin-left: 10px;
        width: auto;
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    html {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
    }

    .results-search-container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .results-search-container input {
        width: 100%;
    }

    .logomobile {
        position: relative;
        float: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-size: 28px;
        display: block;
        margin-top: 0px;
        top: 0px;
        left: 0px;
    }

    .sub-search-button-wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
    }

    .sub-search-button-wrapper img {
        margin: 0;
        padding: 0;
    }

    .sub-search-button-wrapper button {
        margin-left: 30px;
        margin-right: 4px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .results {
        left: 20px;
        max-width: 90%;
    }

    .fetched {
        left: 20px;
        max-width: 90%;
        font-size: 16px;
        margin-top: 180px;
    }

    .search-container h1 {
        font-size: 55px;
        margin-bottom: 70px;
    }

    .search-container {
        margin-top: 10%;
        text-align: center;
    }

    .search-container input {
        width: 100%;
    }

    .search-button-wrapper button {
        display: table-row;
        margin: 30px 0px 0px 0px;
        width: 80%;
    }
}