{% extends "results_layout.html" %}

{% block body %}
    <p class="fetched fetched_dif fetched_img">{{ fetched }}</p>
    {% if results %}
    <div class="images">
        {% for result in results %}
        <div class="image">
        <a class="clickable" {% if new_tab == "active" %} target="_blank" {% endif %} href="{{ result[1] }}">
            <img src="{{ result[0] }}"/>
        </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="no-results-found">
            Your search '{{ q }}' came back with no results.<br>
            Try rephrasing your search term and/or recorrect any spelling mistakes.
        </div>
    {% endif %}
{% endblock %}
