<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TailsX</title>
    {% if request.cookies.theme %}
        <link rel="stylesheet" href="./css/{{ request.cookies.theme }}.css">
    {% else %}
        <link rel="stylesheet" href="./css/{{ theme }}.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="search" type="application/opensearchdescription+xml" href="./opensearch.xml" title="TailsX">
</head>

<body>
{% block body %}{% endblock %}
<div id="search_footer" class="footer">
    <a href="/">TailsX</a>
    <a href="/settings">Settings</a>
    <a target="_blank" href="{{ repo_url }}">Source code ❤️</a>
    <a target="_blank" href="/api?q=firefox">API</a>
    <a target="_blank" href="/suggestions?q=firefox">Suggestions API</a>
    <a target="_blank" href="{{ repo_url }}/commit/{{ commit }}">Commit: {{ commit }}</a>
</div>
</body>

</html>
