{% extends "preresults_layout.html" %}

{% block body %}
    <link rel="stylesheet" href="./css/{{ css_style }}">
    <form action="/search" class="search-container" method="get" autocomplete="off">
        <h1>Tails<span class="X">X</span></h1>
        <div class="wrapper">
            <input type="text" name="q" autofocus id="search-input" />
            <input type="submit" class="hide" />
            <div class="autocomplete">
                <ul>
                </ul>
            </div>
        </div>
        <div class="search-button-wrapper">
            <button name="q" type="submit">Search with TailsX</button>
            <button name="t" value="image" type="submit">Search images with TailsX</button>
        </div>
        <script defer src="/script.js"></script>
    </form>
{% endblock %}
