{% extends "preresults_layout.html" %}

{% block body %}
    <div class="settings-nav"><h1 class="logomobile"><a class="no-decoration" href="./">Tails<span class="X">X</span></a></h1></div>
    <form action="/save-settings" method="post">
    <div class="settings">
        <p>Change the look of TailsX</p>
        <select id="theme" name="theme">
            <option value="light" {% if theme == 'light' %}selected{% endif %}>Light</option>
            <option value="darker" {% if theme == 'darker' %}selected{% endif %}>Darker</option>
            <option value="dark" {% if theme == 'dark' %}selected{% endif %}>Dark</option>
            <option value="github_night" {% if theme == 'github_night' %}selected{% endif %}>Github Night</option>
            <option value="night" {% if theme == 'night' %}selected{% endif %}>Night</option>
            <option value="classic" {% if theme == 'classic' %}selected{% endif %}>Classic</option>
        </select>
        <button class="save" type="submit">Save your settings</button>
    </form>
    </div>
{% endblock %}
