{% extends "results_layout.html" %}

{% block body %}
    <p class="fetched fetched_dif fetched_tor">{{ fetched }}</p>
    {% if results %}
    <div class="clean">
        {% for result in results %}
        <div class="results">
            <a id="link" href="{{ result['magnet'] }}">{{ result["href"] }}</a>
            <a class="torrent" href="{{ result['magnet'] }}"><h3>{{ result["title"] }}</h3></a>
            <p class="stats">{% if result["views"] %}{{ result["views"] }} views • {% endif %}{{ result["size"] }}</p>
            <p class="publish__info"> Seeders: <span class="seeders">{{ result["seeders"] }}</span> <span class="pipe">|</span> Leechers: <span class="leechers">{{ result["leechers"] }}</span></p>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="no-results-found">
            Your search '{{ q }}' came back with no results.<br>
            Try rephrasing your search term and/or recorrect any spelling mistakes.
        </div>
    {% endif %}
{% endblock %}
