{% extends "results_layout.html" %}

{% block body %}
    <p class="fetched fetched_dif fetched_vid">{{ lang_data.results.results }} {{ fetched }} {{ lang_data.results.seconds }}</p>
    {% if results %}
        {% for result in results %}
        <div><div class="video__results">
        <div class="video__img__results">
            <img src="{{ result['thumbnail'] }}">
                <div class="duration">{{ result['length'] }}</div>
            </img>
        </div>
            <div class="results">
            <a {% if new_tab == "active" %} target="_blank" {% endif %} href="{{ result['link'] }}"><h3 class="video_title">{{ result['title'] }}</h3></a>
            <p class="stats">{{ result['views'] }} • {{ result['date_span'] }}</p>
            <p class="publish__info">{{ result['publisher'] }} <span class="pipe">|</span> {{ result['author'] }}</p>
        </div>
    </div>
</div>
        {% endfor %}
    </div>
    {% else %}
        <div class="no-results-found">
            Your search '{{ q }}' came back with no results.<br>
            Try rephrasing your search term and/or recorrect any spelling mistakes.
        </div>
    {% endif %}
{% endblock %}
