{% extends "results_layout.html" %}

{% block body %}
    <p class="fetched fetched_dif fetched_vid">{{ lang_data.results.results }} {{ fetched }} {{ lang_data.results.seconds }}</p>
    {% if results %}
        {% for result in results %}
        <div><div class="video__results">
        <div class="video__img__results">
            <img src="{{ result[6] }}">
                <div class="duration">{{ result[7] }}</div>
            </img>
        </div>
            <div class="results">
            <a {% if new_tab == "active" %} target="_blank" {% endif %} href="{{ result[0] }}"><h3 class="video_title" href="{{ result[0] }}">{{ result[1] }}</h3></a>
            <p class="stats">{{ result[3] }} • {{ result[2] }}</p>
            <p class="publish__info">{{ result[5] }} <span class="pipe">|</span> {{ result[4] }}</p>
        </div>
    </div>
</div>
        {% endfor %}
    </div>
    {% else %}
        <div class="no-results-found">
            Your search '{{ q }}' came back with no results.<br>
            Try rephrasing your search term and/or recorrect any spelling mistakes.
        </div>
    {% endif %}
{% endblock %}
